.grouplinks__wrapper {
  /* border: 1px solid #aaa; */
  width: 100%;
  padding: 5px;
}

.grouplinks__title span{
    display: inline-block;
}

.grouplinks__title {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.grouplinks__title:hover{
    cursor: pointer;
    color: #000;
}

#title {
  margin-right: 5px;
}
#icon{
    display: flex;
}
.grouplinks__content{
    color: #555;
}
.grouplinks__content ul{
    list-style: none;
    margin-left: 15px;
}