*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}


.app__container{
  display: flex;
  width: 100vw;
}

a{
  text-decoration: none;
}

.tut__part, .section{
  width: 69%;
  height: 100vh;
  padding: 100px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  .code__container{
    padding: 15px;
    background: #2d3c57;
    border:3px solid #6495ed;
    border-radius: 10px;
    color: #fff;
  }
  .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
  }
  .btn{
    width: fit-content;
    height: fit-content;
    border: 3px solid #666;
    padding: 10px;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .btn:hover{
    cursor: pointer;
    border-color: #61DAFB;
    background: #f0f8fa;
  }

  .btn:hover .btn-icon{
    color: #61DAFB!important;
  }
  .btn-icon{
    font-size: 2rem;
    font-weight: 700!important;
  }
  